################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Create a MS Word Report/bin/Debug
/Create a MS Word Report/obj
/Create a MS Word Report/bin/templates
